<% @users.each do |user| %>
<div>
  <a href="/users/<%= user.id %>"><img src="/images/<%= user.image %>"
  <br>
  <%= user.user_name %></a>
</div>
<% end %>


<p>
  <a href="/users/<%=current_user.id%>">Back To My Profile</a>
</p>