<div id="main_wrapper">
  <div class="form_main">

    <h1>Sign Up</h1>

    <form action="/users" method="POST">
      <input name="user_name" type="text" placeholder="username"/>
      <br/>
      <input name="password" type="text" placeholder="password"/>
      <br/>
      <input type="submit" value="Submit" />
    </form>

    <p>
      <a href="/">Back To Login</a>
    </p>
  </div>
</div>