<div id="main_wrapper">
  <div class="form_main">

    <h1>Sign Up</h1>

    <form action="/users" method="POST">
      <input name="user_name" type="text" placeholder="username"/>
      <br/>
      <input name="password" type="password" placeholder="password"/>
      <br/>
      <input type="submit" value="Submit" />
    </form>

    <% if @user && @user.errors.any? %>
      <div>
        <strong>You haven't provided enough info:</strong>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <a href="/">Back To Login</a>
    </p>
  </div>
</div>