<div>

<h1>Add Item</h1>

  <form method="post" action="/tracks">
    <div>
      <input type="text" name="author" placeholder="Item Name:">
    </div>
    <br />
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</div>