<%= partial(:'components/nav', :template_engine => :erb) %>
<div>

<h1>Add Item</h1>

  <form method="post" action="/items">
    <div>
      <input type="text" name="name" placeholder="Item Name:">
    </div>
    <br />
    <div>
      <input type="text" name="description" placeholder="Item Description:">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>

  <% if @item && @item.errors.any? %>
    <div>
      <strong>Oops:</strong>
      <ul>
        <% @item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>