<div id="main_wrapper">
  <div class="form_main">

    <h1>Login</h1>

    <form action="/validation" method="POST">
      <input name="user_name" type="text" placeholder="username"/>
      <br/>
      <input name="password" type="text" placeholder="password"/>
      <br/>
      <input type="submit" value="Submit" />
    </form>

    <p>
      Not registered?? <a href="/users/signup">Sign Up!</a>
    </p>
  </div>
</div>