<div>

  <h1>Sign Up</h1>

  <form action="/validation" method="POST">
    username : <input name="user_name" type="text" />
    <br/>
    password : <input name="password" type="text" />
    <br/>
    <input type="submit" value="Submit" />
  </form>
</div>